name: Unzip File
on:
  workflow_dispatch:
  push:
    paths:
      - "*.zip"

jobs:
  unzip:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Unzip all ZIP files
        run: |
          for f in *.zip; do
            unzip "$f" -d "${f%.*}"
          done
      - name: Commit unzipped files
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "Add unzipped files"
          git push
